<div class="play-scores-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 score-stats">
        Score
      </div>
      <div id='scoreHack2' class="col-lg-12 score-stats score">
        {{displayScore}}
      </div>
      <div class="col-lg-12 score-stats">
        High Scores 
      </div>
      <div class="col-lg-12 score-stats score">
        <p *ngFor="let s of highScores">
          {{s.username}}  -  {{s.score}}
        </p>
      </div>
    </div>
  </div>
</div>