<app-questions-header></app-questions-header>

<div class="container-fluid question-categories">
    <div class="container question-listing" *ngFor='let listing of questionsList'>
        <div class="row">
            <h2 class="col-6">{{listing.categoryname}}</h2>
            <div class="col-3"></div>
            <div class="col-3"><button class="delete-listing-button" (click)="deleteButton(listing.categoryid)">X</button></div>
        </div>
        <h4 class="listing-author">{{listing.username}}</h4>
        <p>{{listing.categorydescription}}</p>
        <h3 class="listing-question-count-row"><div class="listing-question-count">{{listing.questions}}</div> QUESTIONS</h3>
        
    </div>
</div>