<div class="play-answers-gameboard container">
  <div class="row">
    <div class="col-12 question-text">
      {{questions[currentQ].content}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 question-pic">
      <img src=""> 
      <!-- Available if the question has an image -->
    </div>
  </div>
  <div class="row">
    <div class="question-submit">
      <button (click)="clickAnswer('A')" class="question-submit-button" value="A">{{"A: " + questions[currentQ].choiceA}}</button>
      <button (click)="clickAnswer('B')" class="question-submit-button" value="B">{{"B: " + questions[currentQ].choiceB}}</button>
      <button (click)="clickAnswer('C')" class="question-submit-button" value="C">{{"C: " + questions[currentQ].choiceC}}</button>
      <button (click)="clickAnswer('D')" class="question-submit-button" value="D">{{"D: " + questions[currentQ].choiceD}}</button>
      <!-- <div class="input-group">
        <select class="custom-select" id="questionSubmissionLetter">
          <option selected>Choose...</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary question-submit-button" type="button">Submit</button>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="displayScoreModal" tabindex="-1" role="dialog"
  aria-labelledby="displayScoreModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="displayScoreModalLabel">Congratulations!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">      
        <h5>Final Score:</h5>
        <p>{{score}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary" routerLink="/">Home</button>
      </div>
    </div>
  </div>
</div>