<div class="q-header">
  <a routerLink="/home">
    <img class="back-arrow" src="assets/img/questions-back-arrow.png" alt="">
  </a>
  <h1 class="q-header-title">Questions</h1>
  <div class="button-holder">
    <button class="question-button" data-toggle="modal" data-target="#addModal">
      Add Questions
    </button>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Questions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Question Content</h5>
        <textarea class="form-control" id="addQuestionContent" rows="5" [(ngModel)]="questionContent"></textarea>
        <h5>Choice A</h5>
        <input class="form-control" type="text" id="choiceA" [(ngModel)]="choiceA">
        <h5>Choice B</h5>
        <input class="form-control" type="text" id="choiceB" [(ngModel)]="choiceB">
        <h5>Choice C</h5>
        <input class="form-control" type="text" id="choiceC" [(ngModel)]="choiceC">
        <h5>Choice D</h5>
        <input class="form-control" type="text" id="choiceD" [(ngModel)]="choiceD">
        <h5>Question Answer</h5>
        <select class="custom-select" id="addQuestionLetter" [(ngModel)]="answer">
          <option selected>Choose...</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
        <h5>Question Category</h5>
        <input class="form-control" type="text" id="addQuestionCategory" [(ngModel)]="category">
        <h5>Question Difficulty</h5>
        <select class="custom-select" id="addQuestionDiff" [(ngModel)]="difficulty">
            <option selected>Choose...</option>
            <option value="1">0 (5 Points)</option>
            <option value="1">1 (10 Points)</option>
            <option value="2">2 (20 Points)</option>
          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mod-btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary mod-btn" (click)="saveChanges()">Save Changes</button>
      </div>
    </div>
  </div>
</div>