.q-header {
    height: 8vh;
    width: 100%;
    padding: 5px;

    background-color: #3ea815;
    background-image: linear-gradient(66deg, #3ea815 0%, #006633 84%);

    border: 1px rgba(10, 10, 10, 0.514) solid;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}

.back-arrow {
    height: 100%;
}

.back-arrow:hover, .back-arrow:focus, .back-arrow:active {
    opacity: 0.85;
}

.button-holder {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.question-button {
    height: 5vh;
    background-color: #ff7e25;
    background-image: linear-gradient(58deg, #ff7e25 0%, #ffcc00 72%);
    border: 1px rgba(10, 10, 10, 0.514) solid;
    margin: 0 5px;
    font-size: 1em;
    border-radius: 3px;
}

.question-button:hover, .question-button:focus, .question-button:active {
    border: 2px #0f0f0f solid;
}

.modal-content {
    background-color: #0f0f0f;
}

.close {
    color: #f0f0f0;
}

.modal-header, .modal-footer {
    border-color: #4f4f4f
}

.mod-btn {
    border: 1px rgba(10, 10, 10, 0.514) solid;
    border-radius: 3px;
}

.btn-primary {
    background-color: #ff7e25;
    background-image: linear-gradient(58deg, #ff7e25 0%, #ffcc00 82%);
    color: #0f0f0f;
}