.home-tile-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.tile-row {
    //height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.home-tile {
    width: 48vh;
    height: 48vh;
    border-radius: 3px;
    border: 1px rgba(10, 10, 10, 0.514) solid;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    box-shadow: 0 0 10px rgba(0,0,0,.4);

    margin-top: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4em;
}

.home-tile:hover {
    opacity: 0.85;
}

#play-tile {
    background-color: #3ea815;
    background-image: linear-gradient(66deg, #3ea815 0%, #006633 84%);
}

#questions-tile {
    background-color: #ff7e25;
    background-image: linear-gradient(58deg, #ff7e25 0%, #ffcc00 82%);
}
