<div class="home-tile-container">
  <div class="tile-row">
    <!-- <a class="tile-link" routerLink="/play">
      <div id="play-tile" class="home-tile">
        Play!
      </div>
    </a> -->
    <a class="tile-link" data-toggle="modal" data-target="#categorySelectionModal">
      <div id="play-tile" class="home-tile">
        Play!
      </div>
    </a>
    <a class="tile-link" routerLink="/questions">
      <div id="questions-tile" class="home-tile">
        Questions
      </div>
    </a>
  </div>
</div>

<div class="modal fade" id="categorySelectionModal" tabindex="-1" role="dialog"
  aria-labelledby="categorySelectionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categorySelectionModalLabel">Select a Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Your Name?</h5>
        <input class="form-control" type="text" id="playerName" [(ngModel)]="username">
        <h5>Select Quiz</h5>
        <select class="custom-select" id="categorySelection" [(ngModel)]="categoryid">
          <option selected>Choose...</option>
          <option *ngFor="let cat of questionsList" value={{cat.categoryid}}>{{cat.categoryname}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" (click)="startQuiz()" type="button" data-dismiss="modal" class="btn btn-primary">Go!</button>
      </div>
    </div>
  </div>
</div>