<div class="container-fluid">
  <div class="row ">
    <div class="col">
      <a routerLink="/home">
        <img class="back-arrow" src="assets/img/questions-back-arrow-white.png" alt="">
      </a>
    </div>
  </div>
</div>


<div class="play-questions-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9 question-stats">
        Question
      </div>
      <div class="col-3 question-stats">
        {{question}}
      </div>
      <div class="col-9 question-stats">
        Remaining
      </div>
      <div class="col-3 question-stats">
        {{remaining}}
      </div>
      <div class="col-9 question-stats">
        Ratio
      </div>
      <div class="col-3 question-stats">
        {{ratio}}
      </div>
    </div>
  </div>
</div>